.wrapper {
  border: none;
  text-decoration: none;
  width: 100%;
  max-width: 12.0625rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonDefault {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  line-height: 1.49;
  border-radius: 0.375rem;
}

.buttonPrimary {
  background: var(--red-db);
  transition: all 0.2s ease;
  color: var(--white);
  box-shadow: 0px 0px 0px 0px var(--shadow-t1),
    0px 0.1875rem 0.4375rem 0px var(--shadow-t1),
    0px 0.8125rem 0.8125rem 0px var(--shadow-t09),
    0px 1.875rem 1.125rem 0px var(--shadow-t05),
    0px 3.375rem 1.3125rem 0px var(--shadow-t01),
    0px 5.25rem 1.4375rem 0px var(--shadow-t00);

  &:hover {
    transition: all 0.2s ease;
    background: var(--red-ff);
  }
}

:global(.dark) .buttonPrimary:hover {
  transition: all 0.2s ease;
  background: var(--red-ff);
}

.buttonOutline {
  background: inherit;
  border: 1px solid var(--violet-7c);
  color: var(--violet-7c);
  transition: all 0.2s ease;

  &:hover {
    transition: all 0.2s ease;
    color: var(--white);
    background: var(--violet-7c);

    img {
      filter: brightness(0) invert(1);
    }
  }
}

.img {
  margin-right: 0.625rem;
}

@media (max-width: 1185px) {
  .wrapper {
    max-width: 15rem;
  }

  .buttonPrimary:hover {
    transition: all 0.2s ease;
  }

  .buttonOutline:hover {
    transition: all 0.2s ease;
  }
}

@media (max-width: 719px) {
  .wrapper {
    max-width: none;
  }

  .buttonPrimary:hover {
    transition: all 0.2s ease;
  }

  .buttonOutline:hover {
    transition: all 0.2s ease;
    opacity: 1;
  }
}
