.wrapper {
  padding: 0 1.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  margin: 8.5rem auto 0;
}

.title {
  font-size: var(--fs-24-48);
  font-weight: 600;
  line-height: 1;
  display: flex;
}

.examplesContainer {
  display: flex;
  flex-direction: column;
  gap: 6.875rem;
  margin-top: 2.5rem;
  position: relative;
}

.label {
  position: absolute;
  z-index: 2;

  &--top-1 {
    right: 20em;
    top: 19em;
  }

  &--bottom-1 {
    right: 20em;
    top: -4em;
  }

  &--top-2 {
    left: 20em;
    bottom: 22em;
  }

  &--bottom-2 {
    left: 20em;
    bottom: 6em;
  }
}

.labelImg {
  position: absolute;

  &--bottom-1-tablet,
  &--top-1-tablet {
    display: none;
  }

  &--bottom-1 {
    left: 10em;
    bottom: -1.5em;
  }

  &--top-1 {
    width: 60em;
    bottom: 2.7em;
    left: 6em;
  }

  &--bottom-2 {
    right: 10em;
    top: 5.5em;
  }

  &--top-2 {
    top: -11em;
    right: 13.5em;
  }
}

.exampleBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.75rem;

  &.reverse {
    flex-direction: row-reverse;

    .content {
      margin-top: 0;
    }
  }

  .content {
    margin-top: 1.5rem;
  }
}

.imageContainer {
  flex: 1;
  min-width: 0;
  will-change: transform, opacity;
  transform: translateY(1.25rem);
  opacity: 0;
  max-width: 50%;
}

.exampleImage {
  width: 100%;
  height: auto;
  border-radius: .625rem;
  transition: none;

  &:hover {
    transform: none !important;
    cursor: default;
  }
}

.content {
  flex: 1;
  min-width: 0;
  max-width: 25rem;

}

.exampleTitle {
  font-size: var(--fs-18-24);
  font-weight: 600;
  color: var(--red-db);
}

.exampleDescription {
  display: block;
  margin-top: 1.25rem;
  font-size: var(--fs-14-16);
  line-height: 1.49;
  white-space: pre-line;
  opacity: 0.7;
}





@media (max-width: 69.6875rem) {

  .label {
    transform: rotate(-90deg);

    &--top-1 {
      right: auto;
      left: -2em;
      top: 17em;
    }

    &--bottom-1 {
      right: 2em;
      top: 10em;
    }

    &--top-2 {
      left: auto;
      right: 2em;
      bottom: 23em;
    }

    &--bottom-2 {
      left: -2em;
      bottom: 19em;
    }
  }

  .labelImg {
    position: absolute;

    &--bottom-1 {
      display: none;
    }

    &--top-1 {
      display: none;
    }

    &--bottom-1-tablet,
    &--top-1-tablet {
      display: block;

    }

    &--bottom-1-tablet {
      width: 9.375rem;
      left: 5em;
      bottom: 7em;
    }

    &--top-1-tablet {
      width: 15rem;
      left: auto;
      right: 8em;
      bottom: 12em;
    }

    &--bottom-2 {
      right: -4em;
      top: 4em;
      transform: rotate(-90deg) scaleX(-1);
    }

    &--top-2 {
      top: 5.5em;
      right: auto;
      transform: rotate(-90deg) scaleX(-1);
      left: -9em;
    }
  }

  .examplesContainer {
    gap: 5rem;
  }

  .exampleBlock {
    flex-direction: column-reverse;
    gap: 1.25rem;
    margin: 0 auto;

    &.reverse {
      flex-direction: column-reverse;
      margin-top: 0;
    }

    .content {
      margin-top: 0;
    }
  }

  .content {
    max-width: 90%;
    padding: 1.25rem;
    background: var(--grey-de);
    width: 100%;
    border-radius: .625rem;
  }

  :global(.dark) .content {
    background: var(--black-1b);
  }

  .imageContainer {
    max-width: 90%;
    width: 100%;
  }
}

@media (max-width: 58.75rem) {

  .labelImg {
    &--bottom-1-tablet {
      bottom: 5em;
    }

    &--top-1-tablet {
      right: 5em;
      bottom: 10em;
    }
  }

  .content,
  .imageContainer {
    max-width: 26.25rem;
  }

  .label {
    &--top-1 {
      left: -1em;
    }

    &--bottom-1 {
      right: -1em;
    }

    &--top-2 {
      right: -1em;
      bottom: 20em;
    }

    &--bottom-2 {
      left: -1em;
    }
  }

  .labelImg {
    &--bottom-2 {
      right: -7em;
      top: 4em;
      transform: rotate(-90deg) scaleX(-1);
    }
  }
}

@media (max-width: 45rem) {
  .wrapper {
    margin-top: 4rem;
  }

  .examplesContainer {
    gap: 1.25rem;
  }


  .label {
    display: none;
  }

  .labelImg {
    display: none;
  }

  .exampleBlock {
    margin: 0;
  }

  .content {
    max-width: none;
    background: transparent;
  }

  :global(.dark) .content {
    background: transparent;
  }

  .imageContainer {
    max-width: none;
  }

  .exampleDescription {
    white-space: normal;
  }
}