POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=aigency
POSTGRES_SCHEMA=public
AIGENCY_API_URL=http://localhost:3000
NEAR_LOGIN_CONTRACT_ID=example.near
TELEGRAM_BOT_USERNAME=example
TELEGRAM_MAIN_BOT_ID=1234567890
TELEGRAM_DEBUG_BOT_ID=1234567890
TELEGRAM_BOT_TOKEN=1234567890:deadbeef
NEAR_NETWORK_ID=mainnet
NEAR_NODE_URL=https://rpc.mainnet.near.org
NEAR_WALLET_URL=https://app.mynearwallet.com
NEAR_HELPER_URL=https://helper.mainnet.near.org
NFT_CONTRACT_ID=example.near
NFT_CONTRACT_OWNER_ID=example.near
NFT_CONTRACT_OWNER_PRIVATE_KEY=ed25519:deadbeef
TELEGRAM_MONITORING_CHAT_ID=-1234567890
TELEGRAM_MONITORING_TOPIC_ID=123
REWARD_ACCOUNT_PRIVATE_KEY=ed25519:deadbeef
REWARD_ACCOUNT_ID=example.near
BUG_REWARD_AMOUNT=100000000000000000000
USAGE_REWARD_AMOUNT=100000000000000000000
