@media (max-width: 1185px) {
  .titleWrapper {
    padding: 100px 10px 45px 10px;
  }

  .titleBlock {
    order: 1;
    padding-top: 105px;
  }

  .titleTitle {
    padding-left: 10px;
  }

  .titleMessage {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    padding-bottom: 100px;

    &::before {
      width: 688px;
      bottom: 0px;
      left: 0px;
      top: -175px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .titleButtons {
    width: 486px;

    div {
      width: 234px !important;
    }
  }

  .iconBlock {
    order: 0;
    width: 512px;
    height: 480px;
    margin-top: 0;
    transform: none;
  }

  .supportedBlockIcon {
    width: 512px;
    height: 480px;
  }

  .problemWrapper {
    padding: 65px 20px;
  }

  .problemDelimeter {
    width: calc(100% - 40px);
    left: 20px;
  }

  .problemTitle {
    width: 100%;
    padding-bottom: 60px;
  }

  .problemText {
    margin-left: unset;
    width: 100%;
  }

  .missionWrapper {
    padding: 75px 20px;
  }

  .missionTitleBlock {
    width: 100%;
    padding-bottom: 35px;
  }

  .missionText {
    margin-left: unset;
    width: 100%;
  }

  .missionItem {
    padding-right: 5px;
  }

  .brandWrapper {
    padding: 80px 20px 90px 20px;
  }

  .brandTitleBlock {
    width: 100%;
  }

  .brandMessageBlock {
    width: 100%;
  }

  .brandMessage {
    width: 100%;
    padding-left: 0;
    padding-bottom: 30px;
  }

  .btnBrandMedia {
    width: 193px;
  }
}

@media (max-width: 719px) {
  .titleWrapper {
    padding: 70px 10px 45px 10px;
  }

  .titleBlock {
    padding-top: 42px;
  }

  .titleTitle {
    font-size: 36px;
    font-weight: 600;
    line-height: 100%;
    padding-bottom: 20px;
  }

  .titleMessage {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 35px;

    &::before {
      display: none;
    }
  }

  .titleButtons {
    flex-direction: column;
    width: 280px;

    div {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }

  .iconBlock {
    width: 176px;
    height: 166px;
  }

  .supportedBlockIcon {
    width: 176px;
    height: 166px;
  }

  .problemWrapper {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
  }

  .problemDelimeter {
    display: none;
  }

  .problemTitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    padding-bottom: 17px;
  }

  .problemText {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
  }

  .missionWrapper {
    padding-top: 38px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .missionTitleBlock {
    padding-bottom: 10px;
  }

  .missionTitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
  }

  .missionMessage {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    padding-right: 10px;
  }

  .missionItem {
    width: 100%;
    padding: 19px 10px 5px 10px;

    &:nth-child(3) {
      margin-top: -15px;
    }

    &:nth-child(4) {
      margin-top: -15px;
    }
  }

  .missionItemTitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;

    &::before {
      top: 6px;
    }
  }

  .missionItemMessage {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
  }

  .brandWrapper {
    padding: 47px 20px 35px 20px;
  }

  .brandTitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
  }

  .brandMessage {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    padding-bottom: 35px;
  }

  .btnBrandMedia {
    width: 280px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
}
