OPENAI_API_KEY=sk-proj-example-key
NEARAI_API_KEY={"account_id":"example.near","signature":"example==","public_key":"ed25519:example","callback_url":"http://localhost:54875/capture","nonce":"1234567890","recipient":"ai.near","message":"Welcome to NEAR AI","on_behalf_of":null}
CRAWLER_API_PORT=3000
CRAWLER_DATABASE_URL=postgres://mweb:mweb@postgres:5432/mweb
OPENFAAS_USERNAME=admin
OPENFAAS_PASSWORD=admin
OPENFAAS_URL=http://gateway.aigency:8080