.wrapper {
  overflow-x: hidden;
}

.titleWrapper {
  padding: 200px 0 60px 0;
  position: relative;
  background: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    display: flex;
    background: url('/themes/dark/icons/home/bg-title.svg');
    background-position-y: 150px;
    background-position-x: -355px;
    background-repeat: no-repeat;
    background-size: 1990px 710px;
    transform: translateX(-20px);
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 55%;
    display: flex;
    background: url('/themes/dark/icons/home/bg-title.svg');
    background-position-y: 150px;
    background-position-x: -320px;
    background-repeat: no-repeat;
    background-size: 1920px 710px;
    transform: scale(-1, 1) translateX(-20px);
    z-index: 1;
  }

  @media (max-width: 1185px) {
    background: url('/themes/dark/icons/home/bg-title-tablet-bottom.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 668px;

    &::before {
      display: flex;
      left: 20px;
      top: 0;
      width: 100%;
      height: 80%;
      background: url('/themes/dark/icons/home/bg_title-tablet.svg');
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 140px;
    }

    &:after {
      display: none;
    }
  }

  @media (max-width: 719px) {
    background: none;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}

:global(.light) .titleWrapper {
  padding: 200px 0 60px 0;
  background: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    display: flex;
    background: url('/themes/light/icons/home/bg-title.svg');
    background-position-y: 150px;
    background-position-x: -355px;
    background-repeat: no-repeat;
    background-size: 1990px 710px;
    transform: translateX(-20px);
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 55%;
    display: flex;
    background: url('/themes/light/icons/home/bg-title.svg');
    background-position-y: 150px;
    background-position-x: -320px;
    background-repeat: no-repeat;
    background-size: 1920px 710px;
    transform: scale(-1, 1) translateX(-20px);
    z-index: 1;
  }

  @media (max-width: 1185px) {
    background: url('/themes/light/icons/home/bg-title-tablet-bottom.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 668px;

    &::before {
      display: flex;
      left: 20px;
      top: 0;
      width: 100%;
      height: 80%;
      background: url('/themes/light/icons/home/bg_title-tablet.svg');
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 140px;
    }

    &:after {
      display: none;
    }
  }

  @media (max-width: 719px) {
    background: none;

    &:after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}

.titleBlock {
  max-width: 900px;
  padding-bottom: 90px;
}

.titleBlockTitle {
  font-size: 96px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  padding-bottom: 40px;
  z-index: 2;
}

.titleBlockSubtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 149%;
  text-align: center;
  max-width: 600px;
  z-index: 2;
}

.supportedLableBlock {
  z-index: 2;
}

.supportedBlockIcon {
  object-fit: contain;
}

.titleButtons {
  width: 406px;
  flex: 1 1 auto;
  padding-bottom: 70px;
  z-index: 2;
  background: transparent;
  border: none;
  outline: none;
  border-style: unset;
  border-color: transparent;
}

:global(.light) {
  .titleButtons {
    background: transparent;
    border: none;
    outline: none;
    border-style: unset;
    border-color: transparent;
  }
}

.supportedBlock {
  padding: 10px 30px;

  a {
    transition: all 0.2s ease;
    cursor: pointer !important;

    &:hover {
      transform: scale(1.05);
    }
  }
  > * {
    width: 12%;
  }

  @media (max-width: 1185px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;

    > * {
      width: auto;
    }
  }
}

.howWrapper {
  padding: 80px 0 43px 0;
  overflow: hidden;
}

.howTitle {
  font-size: 48px;
  font-weight: 600;
  line-height: 100%;
  padding-bottom: 20px;
}

.howSubitle {
  flex: 1 1 auto;
  max-width: 600px;
}

.howImgDesk {
  transform: translateY(25px) !important;
}

.exampleWrapper {
  padding: 85px 0 100px 0;
  width: 100%;
}

.exampleTitle {
  font-size: 48px;
  font-weight: 600;
  line-height: 100%;
  padding-bottom: 40px;
}

.exampleTitleColor {
  color: #db504a;
}

.powerItem {
  width: 385px;
}

.powerItemLink {
  &:hover {
    border-radius: 10px;
    border: 1px solid rgba(48, 48, 48, 0);
    background: radial-gradient(
      66.37% 55.29% at 49.88% 40.83%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    box-shadow:
      0px 11px 25px 0px rgba(0, 0, 0, 0.1),
      0px 3px 3px 0px rgba(0, 0, 0, 0.09),
      0px 1px 1px 0px rgba(0, 0, 0, 0.05),
      0px 7px 2px 0px rgba(0, 0, 0, 0.01),
      0px 1px 1px 0px rgba(0, 0, 0, 0);
    backdrop-filter: blur(20px);
    border: none;
    border: none;
    outline: none;
    border-style: unset;
  }
}

.powerImg {
  padding-bottom: 10px;
}

.powerTitle {
  padding: 10px;
  padding-top: 55px;
  padding-bottom: 10px;
  text-decoration: underline;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  cursor: pointer;
}

.powerText {
  padding: 20px;
  padding-left: 10px;
}

.feature1 {
  padding-bottom: 55px;

  .exampleTitle {
    padding-bottom: 0;
  }
}

.featureWrapper {
  padding-top: 65px;
}

.featureTextBlock {
  width: 390px;
  margin-left: 70px;
  padding: 10px;
  box-sizing: border-box;

  &:hover {
    border-radius: 10px;
    border: 1px solid rgba(48, 48, 48, 0);
    background: radial-gradient(
      66.37% 55.29% at 49.88% 40.83%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    box-shadow:
      0px 11px 25px 0px rgba(0, 0, 0, 0.1),
      0px 45px 45px 0px rgba(0, 0, 0, 0.09),
      0px 101px 60px 0px rgba(0, 0, 0, 0.05),
      0px 179px 72px 0px rgba(0, 0, 0, 0.01),
      0px 279px 78px 0px rgba(0, 0, 0, 0);
    backdrop-filter: blur(20px);
    border: none;
    border: none;
    outline: none;
    border-style: unset;
  }
}

.featureText {
  width: 308px;
  font-size: 16px;
  font-weight: 400;
  line-height: 149%;
}

.featureLink {
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: all 0.2s ease;
}

:global(.light) .featureTextBlock {
  &:hover {
    background: radial-gradient(
      66.37% 55.29% at 49.88% 40.83%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    backdrop-filter: blur(20px);
    background: #e3e8eb;
    border-radius: 10px;
    box-shadow:
      0px 11px 25px 0px rgba(0, 0, 0, 0.1),
      0px 3px 3px 0px rgba(0, 0, 0, 0.09),
      0px 1px 1px 0px rgba(0, 0, 0, 0.05),
      0px 7px 2px 0px rgba(0, 0, 0, 0.01),
      0px 1px 1px 0px rgba(0, 0, 0, 0);
    border: none;
    border: none;
    outline: none;
    border-style: unset;
  }

  @media (max-width: 1185px) {
    &:hover {
      background: inherit;
      backdrop-filter: none;
      box-shadow: none;
      border: none;

      .featureLink {
        transform: scale(1.5) translateY(5px) translateX(-5px);
      }
    }
  }

  @media (max-width: 719px) {
    &:hover {
      .featureLink {
        transform: scale(1.5) translateY(10px) translateX(5px);
      }
    }
  }
}

.featureId {
  width: 395px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-self: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 149%;
  height: 240px;
  border-radius: 10px;
  border: 1px solid rgba(48, 48, 48, 0.8);
}

:global(.light) .featureId {
  background: radial-gradient(
    66.37% 55.29% at 49.88% 40.83%,
    rgba(255, 255, 255, 0.02) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  -webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.74);
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.74);
  backdrop-filter: blur(20px);
  background: #e3e8eb;
  border: none;
}

.featureItem {
  width: 395px;
  padding: 20px;
  height: 240px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 10px;

  &:hover {
    border-radius: 10px;
    border: 1px solid rgba(48, 48, 48, 0);
    background: radial-gradient(
      66.37% 55.29% at 49.88% 40.83%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    box-shadow:
      0px 11px 25px 0px rgba(0, 0, 0, 0.1),
      0px 3px 3px 0px rgba(0, 0, 0, 0.09),
      0px 1px 1px 0px rgba(0, 0, 0, 0.05),
      0px 7px 2px 0px rgba(0, 0, 0, 0.01),
      0px 1px 1px 0px rgba(0, 0, 0, 0);
    backdrop-filter: blur(20px);
    border: none;
    border: none;
    outline: none;
    border-style: unset;
  }
}

@media (max-width: 1185px) {
  .powerItem:hover {
    border: none;
    background: inherit;
    box-shadow: none;
    backdrop-filter: none;
  }
}

.featureItem {
  &:hover {
    border: none;
    background: inherit;
    box-shadow: none;
    backdrop-filter: none;
  }

  .featureItemTitle {
    text-decoration: underline;
  }
}

:global(.light) .featureItem {
  &:hover {
    border: 1px solid rgba(48, 48, 48, 0);
    background: #e3e8eb;
    border: none;
    border: none;
    outline: none;
    border-style: unset;
  }

  @media (max-width: 1185px) {
    &:hover {
      border: none;
      background: none;
    }
  }
}

@media (max-width: 1185px) {
  .featureTextBlock:hover {
    background: inherit;
    backdrop-filter: none;
    box-shadow: none;
    border: none;

    .featureLink {
      transform: scale(1.5) translateY(5px) translateX(-5px);
    }
  }
}

@media (max-width: 719px) {
  .featureTextBlock:hover {
    .featureLink {
      transform: scale(1.5) translateY(10px) translateX(5px);
    }
  }
}

.featureItemTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  padding-bottom: 20px;
  position: relative;
  padding-left: 20px;
  padding-top: 10px;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 18px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: block;
    background: #db504a;
  }
}

.featureImg {
  position: relative;
}

.featureItemsBlock {
  flex-wrap: wrap;
}

.feature2 {
  .featureItemsBlock {
    width: 80%;
    transform: translateX(-20px);
  }

  .featureImg {
    margin-left: -50px;
    margin-top: -90px;
    transform: translateX(70px) translateY(-15px);
  }
}

.feature1 .featureImg {
  margin-bottom: 110px;
}

.feature3 {
  padding-top: 45px;

  .featureItemsBlock {
    width: 406px;
  }

  .featureImg {
    margin-top: 70px;
    padding-left: 20px;
  }
}

.feature4 {
  padding-top: 40px;
  transition: 0.5s ease all;

  .featureItemsBlock {
    width: 95%;
    transform: translateX(-12px);
  }

  .featureImg {
    margin-left: 0px;
    transform: translateY(-50px) translateX(45px) scale(1.2);
  }
}

@media (max-width: 1300px) {
  .feature2 {
    .featureItemsBlock {
      width: 80%;
      transform: translateX(-5px);
    }

    .featureImg {
      margin-left: -50px;
      margin-top: -90px;
      transform: translateX(30px) translateY(-15px);
    }
  }

  .feature4 {
    padding-top: 40px;

    .featureItemsBlock {
      width: 95%;
      transform: translateX(0);
    }

    .featureImg {
      margin-left: 0px;
      transform: translateY(-50px) translateX(15px) scale(1.1);
    }
  }
}

.featureGet {
  padding: 110px 0 100px 0;
  width: 100%;
}

.getTitle {
  padding-bottom: 40px;
}
.getSubtitle {
  width: 295px;
}

@media not all and (min-width: 904px) {
  .featureItem {
    width: 320px;
  }

  .featureId {
    width: 320px;
  }
}

@media not all and (min-width: 720px) {
  .featureItem {
    width: 100%;
  }

  .featureId {
    width: 100%;
  }

  .titleButtons {
    flex-direction: column;
    align-items: center;
  }

  .exampleTitle {
    font-size: 34px;
  }

  .feature1 {
    width: 80%;
  }

  .feature2 {
    width: 80%;
  }

  .feature3 {
    width: 80%;
  }

  .feature4 {
    width: 80%;
  }
}

.howImg {
  position: relative;
}

@import './adaptive';
